<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <title>X</title>
</head>

<body>

    <header>
        <div>X</div>
        <div class="actions">
            <div>Login</div>
            <button>Signup</button>
        </div>

    </header>

    <main>
        <section class="banner">
            <div class="avatar"> </div>
        </section>

        <section class="data">
            <button>Follow</button>

            <p>
                {{ user.user_first_name }}
                {{ user.user_last_name }}
            </p>

            <p>
                @{{ user.user_username }}
            </p>
        </section>

        <section class="bio">
            <p>{{user.user_bio}}</p>


        </section>


        <a href="https:// {{ user.user_website }}" target="_blank" rel="noopener">
            {{ user.user_website }}
        </a>

        <section class=""></section>
    </main>

    <footer>


    </footer>
    <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>